@model MVCApplication.ViewModels.RemoveViewModel

@{
    ViewData["Title"] = "Remove";
}

<h2>Remove</h2>

<div>
    <form action='Remove' method='POST' align="left">
        <label>
            Which item would you like to delete from the list?
        </label><br><br />
        <select name="NewElement1">
            @foreach (string item in Model.TheList)
            {
                <option value=@item>@item</option>}
        </select>
</div>
<br /><br />
<input type="submit" value="Remove Item" />
</form>
